
body{
	background-image: url("cafe.png")


}
main{
	margin-left: 250px;


header{
	background-color: deeppink;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	
}
header h3{
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 20px;

}

