body{
	margin:0;
}

header{
	background-color: whitesmoke;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30%;
	font:Lucida Handwriting;
}

img{
	align-content: left;
	opacity: 50%;
	resize: 900X900;
}
header h1{
	font-family: Lucida Handwriting;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
}